<%- css('css/food.css') %>
<div class="footer">
	<div class="Copyright">
		©<%= new Date().getFullYear() %> By <%- theme.author %>.    本站总访问量：
		<!-- . 主题：<a
			style="text-decoration: none;display: contents; color: #898F9F;"
			href="https://github.com/qiaobug/hexo-theme-quiet">Quiet</a> -->
	<!-- </div>
	<div class="Copyright"> -->
		<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
		<span id="busuanzi_container_site_pv"><span id="busuanzi_value_site_pv"></span>次。</span>
		<span>
			<a style="text-decoration: none;display: contents; color: #898F9F;"
				href="https://beian.miit.gov.cn">
				湘ICP备2022006759号
			</a>
		</span>
	</div>
	<div class="contact">
		<% theme.bottomIcon.forEach(item =>{%>
		<a href="<%= item.toUrl %>">
			<img src="<%= item.iconLink %>" alt="Quiet主题">
		</a>
		<% }) %>
	</div>
</div>

<script src='https://unpkg.com/mermaid@8.0.0/dist/mermaid.min.js'></script>
<script>
	if (window.mermaid) {
		// console.log('开启mermaid');
		mermaid.initialize({ theme: 'forest' });
	}
</script>
<%- partial('_widget/gotop') %>
